* {
    font-family: 'Black Ops One';
}

body {
    background-image: url(immagini/retro2.jpg);
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

#contatore {
    border-style: solid;
    border-width: 2px;
    border-color: #9A1F85;
    border-radius: 50px;
    margin-top: 70px;
    width:500px;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9A1F85;
    box-shadow: 10px 100px 50px 0px hsl(0, 0%, 0%);
   
}
#numero{
    width:400px;
    height:200px;
    background-color:#DB9EFA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:100px;
    font-weight: bold;
    box-shadow: 0px 0px 20px 0px rgb(255, 178, 242);
    border-style: solid;
    border-width: 3px;
border-color: #DB9EFA;
    border-radius: 20px;
    color: #1a032a;;
}

#pulsanti{
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #9A1F85;
}

button {
    padding: 60px;
    width:70px;
    height:70px;
    font-size:90px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.46);
    border-radius: 100px;
    border: solid;
    color: #1a032a;
    background-color: #9A1F85;
    border-color: #ad2697;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor:pointer;
    transition: 0.2s;
    margin:0 50px;
    
}
button:hover{
    transform: scale(1.01);
}
button:active{
    background-color: #ad2696cf;
}



